@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/* bg-body-tertiary */

nav {
    background-color: #fff !important;
    /* box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08); */
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out !important;
    padding: 8px 0px !important;
    z-index: 50;
}

nav.down {
    background: #fff !important;
    padding: 0px 0px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

/* .down .nav-link {
    color: #000 !important;
} */

.logo {
    width: 150px;
    filter: sepia(1);
}

.container-fluid {
    padding: 1rem 1.5rem !important;
    background: none !important;
}

.container-list {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

#list-nav {
    margin-right: 0 !important;
}

.nav-link {
    margin: 0 0.5rem;
    /* color: #fff !important; */
}

.btn-login {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.4rem 0.9rem;
    line-height: 1.2;
    border: 1px solid #000;
    background: #fff;
}

.btn-login:hover {
    background: #f0f0f0;
}

#form-search {
    width: 40%;
}

#form-search input {
    border-radius: 5rem;
}

.icono-carrito-container {
    margin: 0 1rem;
    margin-right: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .down .icono-carrito-container {
    background: #0d6efd;
} */

.icono-carrito-container img {
    width: 1.2rem;
}

.icono-carrito-container:hover {
    background: #00000017;
    cursor: pointer;
}

.container-btn-login {
    margin: 0 0.5rem;
}

#cart-icono {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
}

#cantItemsCartNav {
    position: absolute;
    right: -1px;
    top: -1px;
    background: #495057;
    font-size: 80%;
    font-weight: bold;
    /* padding: 0 6px; */
    width: 19px;
    height: 19px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}


/* ============================LAYOUT============================== */

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

/* ============================FOOTER============================== */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inside-footer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #dee2e6
}

.link-page-item {
    text-decoration: none;
    margin: 0 0.8rem;
    color: #6c757d;
}

.link-page-item:hover {
    text-decoration: underline;
}

.links-pages {
    display: flex;
    padding-left: 2rem;
}

.links-redes-container {
    display: flex;
    padding-right: 2rem;
}

.item-redes-container {
    width: 40px;
    height: 40px;
    margin: 0 1rem;
    border-radius: 5rem;
    overflow: hidden;
    border: 2px solid #6f7e847a;
}

.item-redes {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-redes:hover {
    background: #f0f0f0;
}

.item-redes img {
    width: 20px;
} 

.reserved-container {
    padding: 1rem 0;
    color: #6c757d;
}

.cart-view {
    display: none;
}

/* ========================================================== */

.modal {
    margin-top: 10rem;
}

.modal-content {
    border-radius: 3px !important;
    max-width: 400px;
}

.btn-submit-login {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.modal-header {
    border-bottom: none !important;
}

.title-login {
    width: 100%;
    text-align: center;
}

#btn-ingresar {
    width: 100%;
    background: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    padding: 0 0 4px 0;
}

.pass-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pass-register-container a {
    width: max-content;
    margin: 8px 0;
    text-align: center;
    color: #1877f2;
    text-decoration: none;
}

.pass-register-container a:hover {
    text-decoration: underline;
}

.register-span-container {
    width: 100%;
}

.form-check {
    margin-top: 8px !important;
}

#exampleModalToggle2 {
    margin: 0 !important;
}

#modaltwo-inside {
    display: flex;
    align-items: flex-start;
    margin-top: 5rem;
}

.modal-dialog {
    display: flex !important;
    justify-content: center !important;
}

.container-registerexitoso {
    width: 100%;
    padding: 1rem;
}

.register-exitoso {
    width: 100%;
    padding: 1rem;
    background: #198754;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 8px;
    display: none;
}

.register-exitoso p {
    margin: 0%;
}

#name-profile {
    background: #37aaff;
    border: none;
    border-radius: 20rem;
    /* padding: 10px 18px; */
    font-weight: bold;
    text-transform: uppercase;
    outline: 0px solid #37aaff;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

#name-profile:hover {
    outline-width: 2px;
    outline-offset: 2px;
}

.dropdown-menu[data-bs-popper] {
    right: 30px !important;
    top: 110% !important;
    left: auto !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
}

.dropdown-toggle::after {
    display: none !important;
}

.profile-icono-usercontainer {
    display: none;
}

#menu-profile {
    /* background: #37aaff !important; */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: #000 !important;
    display: flex !important;
    align-items: center !important;
}

.dropdown-item svg {
    margin-right: 10px;
}

.dropdown-item:hover {
    color: #000 !important;
}

/* ============================HOME============================== */

.container-global-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.carousel-container-home {
    /* background-image: url('../images/background-home.jpg');
    background-size: cover; */
    /* background-attachment: fixed; */
    width: 100%;
    height: auto;
}

.cards-info-cursos-home {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 5rem auto;
    flex-wrap: wrap;
}

/* .carousel-caption {
    top: 45% !important;
    bottom: 35% !important;
}

.carousel-caption h5 {
    font-size: 3rem;
}

.carousel-item::before {
    content: "";
    background-color: #18181b85;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
} */



.container-img-home {
    width: 100%;
    height: 92vh;
    background-image: url('../images/back-fullscreen.jpg');
    background-size: cover;
    /* background: #ecf5fe; */
    display: flex;
    justify-content: center;
}

/* .container-img-home::before {
    content: "";
    background-color: #ecf5feec;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 101.5vh;
} */

.container-infopage-home {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infopage {
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding: 1rem;
    /* background-color: #ffffff05;
    backdrop-filter: blur(5px); */
    border-radius: 12px;
    color: #fff;
}

.best-cursescontainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.infopage h1 {
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: 600;
}

.infopage h2 {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    /* background: #fff; */
}

.ico-cursosimg {
    width: 25%;
    background: #17cee6;
    padding: 0.5rem;
    border-radius: 50%;
}

.ico-cursosimg img {
    width: 100%;
}

.infopage p {
    font-size: 1.1rem;
}

.container-fevsbe {
    width: 40%;
    z-index: 10;
    overflow: hidden;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.container-fevsbe img {
    width: 100%;
}

.card {
    align-items: center;
    background: #ecf5fe !important;
    /* box-shadow: 0 1px 5px 0 rgba(0,0,0,.2); */
    border: none !important;
    margin: 1rem 0;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    cursor: context-menu;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover #ico-infocursos {
    animation: rotate 2s backwards;
}

.accordion-button {
    background-color: none !important;
    background: none !important;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-45deg);
    }
    
    75% {
        transform: rotate(45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.card img {
    margin-top: 2rem;
}

.card-body {
    margin-top: 1rem;
    padding: 1rem 2rem !important;
}

.card-body h2 {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.card-text {
    text-align: center !important;
    font-size: 1.1rem;
    color: #344854;
}

/* ===========================NOSOTROS=============================== */

.container-global-about {
    /* height: 70vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/background-home.jpg');
    background-size: cover;
    padding: 3rem 0;
}

#accordionFlushExampleabout {
    width: 50% !important;
    padding: 2rem 0 8rem 0 !important;
    background: #fff !important;
}

.btn-tittle {
    font-weight: normal !important;
}

/* ============================COURSES============================== */

.containerglobal-courses {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.cards-courses-container {
    width: 60%;
    /* display: flex; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.card-course {
    /* width: 28%; */
    margin: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.card-course:hover {
    transform: scale(1.04);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.452);
}

.img-course-container {
    width: 100%;
    /* min-height: 20rem; */
}

.img-course-container img {
    width: 100%;
    border-radius: 8px;
}

.cardbody-course {
    width: 100%;
    padding: 1rem 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #636363;
    font-family: OpenSans,Arial,sans-serif;
}

.cardbody-course h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

.cardbody-course h3 {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardbody-course p {
    font-size: 0.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas permitidas */
    -webkit-box-orient: vertical;
}

.quali-views-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.quali-views-container span {
    font-weight: bold;
}

.quali-views-container h6 {
    font-size: 0.8rem;
    margin: 0%;
    margin-left: 5px;
}
  


.filtros-container {
    width: 15%;
    /* background-color: #f5f7f8; */
    padding: 1rem 0;
    position: sticky;
    top: 5rem;
}

.accordion-button {
    font-size: 1.2rem !important;
    font-weight: bold;
}

.container-options-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.filtros-container h3 {
    font-size: 1.2rem;
    margin: 0%;
    margin-top: 2rem;
    font-weight: bold;
}

.form-check-input, .form-check-label {
    cursor: pointer !important;
}

/* .form-check-input[type=radio] {
    border-radius: 0% !important;
} */

.accordion {
    margin: 0 !important;
    width: 100% !important;
}

/* ============================CARRITO============================== */

.container-global-cart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex-direction: column;
}

.cart-empty-container {
    width: 60%;
    padding: 1rem 0 5rem 0;
}

.cart-empty-container h3 {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: -2px;
}

.cart-empty-container button {
    /* font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 30px 5px 30px;
    margin-top: 2rem;
    background: #86b7fe;
    border: none; */
    /* outline: 0px solid #86b7fe;
    transition: all 0.1s ease-in-out;*/
    margin-top: 2rem; 
    border: none;
    padding: 0%;
}

.cart-empty-container button a:hover {
    outline-width: 3px;
    outline-offset: 2px;
    transition: all 0.1s ease-in-out;
    
}

.cart-empty-container button a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 60px;
    background: #86b7fe;
    outline: 0px solid #86b7fe;
    transition: all 0.1s ease-in-out;
}

.cart-empty-container button a img {
    width: 25px;
    margin-left: 0.5rem;
}



.cart-container-one {
    width: 70%;
    display: flex;
    margin-bottom: 5rem;
    justify-content: space-between;
}

.cart-container-items {
    width: 70%;
}

.cart-container-items h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.items-cart-container {
    width: 100%;
}

.item-cart-container {
    /* background-color: #373b3e17; */
    display: flex;
    width: 100%;
    margin: 1rem 0 2rem 0;
    border-top: 1px solid #d1d7dc;
    padding-top: 1rem;
}

.img-info-container {
    display: flex;
    width: 70%;
    padding-right: 1rem;
}

.option-price-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.option-price-container a {
    text-decoration: none;
    color: #5624d0;
    font-size: 0.9rem;
    height: max-content;
}

.option-price-container a:hover {
    text-decoration: underline;
}

.option-price-container span {
    color: #198754;
    font-weight: bold;
}

.item-img-container {
    width: 20%;
}

.item-img-container img {
    width: 100%;
}

.item-info-container {
    width: 80%;
    padding-left: 1rem;
}

.item-info-container h2 {
    font-size: 1rem;
    font-weight: bold;
}

.item-info-container h6 {
    font-size: 0.9rem;
}

.pay-courses-container {
    width: 25%;
    padding-top: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pay-courses-container span {
    width: 100%;
    font-weight: bold;
    font-size: 1.3rem;
}

.pay-courses-container button {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #198754c9;
    border: none;
    padding: 8px 0;
    width: 100%;
    margin-top: 1rem;
}

.pay-courses-container button:hover {
    opacity: 0.9;
}

.cupon-container {
    width: 100%;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #d1d7dc;
}

.cupon-container h3 {
    font-size: 1.1rem;
}

.input-btn-cupon {
    width: 100%;
    display: flex;
}

.input-btn-cupon input {
    height: auto;
    width: 70%;
    padding: 0 10px;
    border-radius: 0px;
    border: 1px solid #000;
}

.input-btn-cupon button {
    background: #9f00ff;
    padding: 5px 0;
    font-size: 0.9rem;
    width: 30%;
    margin: 0%;
}

/* ============================DETAILS COURSE============================== */

.container-global-details-course {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.course-details-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 8rem;
}

.detailscomplete-course-container {
    width: 60%;
}

.head-information-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem 0;
    /* background: #529ca1; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08); */
}

/* .container-global-details-course::before {
    content: "";
    background-color: #529ca1;
    background-color: #0A2E36;
    background-color: #1A5E63;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30%;
    z-index: -2;
} */

.head-information-container h2 {
    font-weight: bold;
    /* color: #fff; */
} 

.head-information-container p {
    font-size: 1rem;
}

.more-details-price-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    
}

.calificacion-estudiantes-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.calificacion-estudiantes-container span {
    font-size: 0.9rem;
    /* color: #fff; */
    display: flex;
    align-items: center;
    position: relative;
    top: 1.5px;
}

.calificacion-estudiantes-container h4 {
    margin: 0 8px;
    display: flex;
    margin-left: 5px;
}

.calificacion-estudiantes-container h4 strong {
    position: relative;
    top: 1.5px;
}

.calificacion-estudiantes-container h4 span {
    font-size: 0.9rem;
}

.calificacion-estudiantes-container h4 svg {
    margin: 0 0.4rem 0 1rem;
    position: relative; 
    color: #cb35dc;
}

.head-information-container h4 {
    font-size: 0.9rem;
    /* color: #fff; */
}

.info-learn-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #d1d7dc;
}

.info-learn-container h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.info-learn-container ul {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.info-learn-container ul li {
    padding: 8px 0;
    font-size: 0.85rem;
}

.content-course-container {
    width: 100%;
    margin-top: 2rem;
}

.content-course-container h3 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.content-course-container p {
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.content-course-container ul {
    width: 100%;
    list-style: none;
    border-top: 1px solid #d1d7dc;
    padding: 0%;
}

.content-course-container ul li {
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    background: #f7f9fa;
    border-left: 1px solid #d1d7dc;
    border-right: 1px solid #d1d7dc;
    border-bottom: 1px solid #d1d7dc;
}

.tittle-content {
    font-weight: 600;
}

.requisitos-container {
    width: 100%;
    margin-top: 2rem;
}

.requisitos-container h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.requisitos-container ul {
    width: 100%;
}

.requisitos-container ul li {
    font-size: 0.9rem;
    padding: 8px 0;
}

.image-course-container {
    width: 100%;
}

.image-course-container img {
    width: 100%;
}

.more-details-price-container {
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    height: max-content;
    position: sticky;
    top: 8rem;
    z-index: 10;
    background: #fff;
    /* border-radius: 8px; */
    overflow: hidden;
}

.more-details-price-container span {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 1rem;
}

.more-details-price-container button {
    margin-top: 1rem;
    width: 100%;
    background: #198754c9;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 12px 0;
}

.more-details-price-container button:hover {
    opacity: 0.9;
}

.btn-buynow {
    background: none !important;
    border: 1px solid #000 !important;
    color: #000 !important;
}

.btn-buynow:hover {
    background: #00000011 !important;
}

.more-details-price-container h6 {
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}

.include-course-container h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.include-course-container ul {
    list-style: none;
    width: 100%;
    padding: 0%;
}

.include-course-container ul li {
    width: 100%;
    font-size: 0.9rem;
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#btn-addcourse svg {
    position: relative;
    top: -3px;
}

#btn-addcourse span {
    font-size: 1rem;
    margin-left: 10px;
}

.posicion-alert-container {
    position: fixed; 
    bottom: 15px; 
    left: 20px;
    z-index: 10;
}

.sorry-nofound-container {
    background-color: #f8f9fa;
    color: #000;
    width: max-content;
    text-align: center;
    padding: 2rem;
    margin: 3rem auto;
    border-radius: 8px;
}

.sorry-nofound-container h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

.sorry-nofound-container h5 {
    font-size: 1.1rem;
}

/* =============================PROFILE============================= */

.container-global-profile {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.container-profile {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.tittle-option-container {
    width: 20%;
    height: max-content;
    position: relative;
}

.tittle-option-container span {
    display: flex;
    width: 100%;
    background-color: #86b7fedb;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 2px solid #fff;
}

.tittle-option-container span:hover {
    opacity: 0.9;
    cursor: pointer;
}

.datos-user-container {
    width: 70%;
    /* border: 1px solid #d1d7dc; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-date-user {
    width: 80%;
    padding: 1rem 0;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1d7dc;
}

.item-date-user span {
    font-size: 1rem;
    padding: 0 1rem;
    text-transform: capitalize;
}

.container-password-eye span {
    font-size: 1rem;
    padding: 0 1rem;
}

.btn-eyes-password {
    background: none;
    border: 1px solid #84888b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0%;
    border: none;
}

.btn-eyes-password:hover {
    background: #eaedf0;
}

.btn-eyes-password svg {
    position: relative;
    top: -1px;
}

.password-user {
    font-size: 1.2rem !important;
    letter-spacing: 4px;
}

#unshown-password {
    display: none;
}

#validar-advertencia-datauser {
    display: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

#validate-advertencia-datauser {
    width: 60%;
    margin: 1rem 0 2rem 0;
    padding: 0.3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#validate-advertencia-datauser svg {
    width: 18px;
    padding-bottom: 3px;
}

#validate-advertencia-datauser div {
    font-size: 0.95rem;
}

/* ===========================MY COURSES=============================== */

.container-global-mycourses {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex-direction: column;
}

.courses-container {
    width: 60%;
    padding: 1rem 0 5rem 0;
}

.courses-container h3 { 
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: -2px;
}

.cards-miscursos-container {
    width: 100%;
    background-color: #f0f0f0;
    height: 10rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-miscursos-container h4 {
    font-size: 1.5rem;
    color: #0000003a;
}

.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
    display: none !important;
}

/* ========================================================== */

@media screen and (max-width: 1850px) {
    .container-global-details-course::before {
        height: 39%;
    }
}

/* ========================================================== */

@media screen and (max-width: 1400px) {
    .filtros-container {
        width: 20%;
        position: static;
    }

    .cards-courses-container {
        width: 70%;
    }

    .cart-container-one {
        width: 90%;
    }

    .course-details-container {
        width: 80%;
    }

    .container-global-details-course::before {
        height: 39%;
    }

    .container-profile {
        width: 90%;
    }
}

/* ========================================================== */

@media screen and (max-width: 991px) {
    .container-inside-footer {
        width: 100%;
    }

    .footer-item-container {
        flex-direction: column;
    }

    .links-pages {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links-redes-container {
        padding: 0;
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }

    .item-footer {
        width: max-content;
        margin: 0.3rem 0;
    }

    .container-fluid {
        padding: 1rem 0.8rem !important;
    }

    .container-list {
        padding-top: 1rem;
    }

    .container-btn-login {
        text-align: center;
    }

    .icono-carrito-container {
        margin: 0;
        width: max-content;
        justify-content: flex-start;
        padding: 0 0.5rem;
        margin-top: 1rem;
    }

    #form-search {
        width: 100%;
        margin-top: 1rem;
    }

    .cart-view {
        display: flex;
        margin-right: 8px;
        position: relative;
        bottom: -2px;
    }

    #list-nav {
        margin: 0 !important;
    }

    #navbarScroll {
        justify-content: flex-start;
    }

    .nav-item {
        width: max-content;
    }

    .reserved-container {
        font-size: 0.8rem;
    }

    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption p {
        display: none;
    }

    .carousel {
        height: 50vh !important;
    }

    .carousel-inner {
        height: 50vh !important;
    }

    .carousel-item {
        height: 100% !important;
    }

    .carousel-item img {
        height: 100% !important;
        width: auto !important;
    }

    .container-img-home {
        background-image: url('../images/back-phone.jpg');
        background-size: 100% 100%;
    }

    .container-infopage-home {
        flex-direction: column;
    }

    .infopage {
        width: 100%;
    }

    .infopage h1 {
        font-size: 1.1rem;
        margin-left: 1rem;
    }

    .infopage h2 {
        font-size: 1.5rem;
    }

    .infopage p {
        font-size: 1rem;
        text-align: justify;
    }

    .ico-cursosimg {
        width: 25%;
    }

    .container-fevsbe {
        width: 80%;
        margin-bottom: 8rem;
    }


    .containerglobal-courses {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .cards-courses-container {
        width: 100%;
        grid-template-columns: 100%;
    }

    .filtros-container {
        width: 90%;
    }

    /* .card-course {
        width: 90%;
    } */

    .profile-icono-usercontainer {
        text-align: end;
    }

    .container-global-cart {
        padding-top: 1rem;
    }

    .cart-container-one {
        flex-direction: column;
    }

    .cart-container-items {
        width: 100%;
        margin: 0;
    }

    .item-cart-container {
        flex-direction: column;
    }

    .img-info-container {
        width: 100%;
    }

    .option-price-container {
        width: 100%;
    }

    .pay-courses-container {
        width: 100%;
    }

    .course-details-container {
        width: 100%;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .detailscomplete-course-container {
        width: 100%;
        padding: 1rem;
    }

    .container-global-details-course {
        padding-top: 0;
    }

    .head-information-container h2 {
        font-size: 1.2rem;
    }

    .head-information-container p {
        font-size: 0.9rem;
    }

    .head-information-container h4 {
        font-size: 0.8rem;
    }

    .head-information-container {
        padding: 2rem 0;
        box-shadow: none;
    }

    .info-learn-container {
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .info-learn-container ul li {
        font-size: 0.7rem;
    }

    .content-course-container ul li {
        font-size: 0.85rem;
        padding: 1rem 0.5rem;
    }

    .content-course-container p {
        font-size: 0.8rem;
    }

    .tittle-content {
        width: 70%;
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
    }

    .more-details-price-container {
        width: 90%;
        margin: auto;
        box-shadow: none;
        border-radius: 0;
    }

    .cart-empty-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0 2rem 0;
    }

    .cart-empty-container h3 {
        font-size: 1.6rem;
    }

    .cart-empty-container p {
        font-size: 0.9rem;
    }

    .cart-empty-container button {
        margin: 2rem 0;
    }

    .container-profile {
        width: 90%;
        flex-direction: column;
    }

    .tittle-option-container {
        width: 100%;
    }

    .datos-user-container {
        width: 100%;
    }

    .item-date-user {
        width: 90%;
        font-size: 0.8rem;
    }

    .item-date-user span {
        padding: 0 8px;
        font-size: 0.8rem;
    }

    #validate-advertencia-datauser {
        width: 90%;
    }
    
    #validate-advertencia-datauser svg {
        width: 15px;
    }

    #validate-advertencia-datauser div {
        font-size: 0.7rem;
    }

    .tittle-option-container span {
        font-size: 1rem;
    }

    .posicion-alert-container {
        left: auto;
    }

    .calificacion-estudiantes-container span {
        font-size: 0.8rem;
    }

    .calificacion-estudiantes-container h4 span {
        font-size: 0.8rem;
    }

    #cantItemsCartNav {
        right: -10px;
        top: 0;
    }

    .courses-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0 2rem 0;
    }

    .courses-container h3 {
        font-size: 1.6rem;
    }

    .courses-container p {
        font-size: 0.9rem;
    }

    .cards-miscursos-container h4 {
        font-size: 1.2rem;
    }

    #modalUpdateDataUser {
        top: -10% !important;
    }
}