@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/* bg-body-tertiary */

nav {
    background-color: #fff !important;
    /* box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08); */
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out !important;
    padding: 8px 0px !important;
    z-index: 50;
}

nav.down {
    background: #fff !important;
    padding: 0px 0px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

/* .down .nav-link {
    color: #000 !important;
} */

.logo {
    width: 150px;
    filter: sepia(1);
}

.container-fluid {
    padding: 1rem 1.5rem !important;
    background: none !important;
}

.container-list {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

#list-nav {
    margin-right: 0 !important;
}

.nav-link {
    margin: 0 0.5rem;
    /* color: #fff !important; */
}

.btn-login {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.4rem 0.9rem;
    line-height: 1.2;
    border: 1px solid #000;
    background: #fff;
}

.btn-login:hover {
    background: #f0f0f0;
}

#form-search {
    width: 40%;
}

#form-search input {
    border-radius: 5rem;
}

.icono-carrito-container {
    margin: 0 1rem;
    margin-right: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .down .icono-carrito-container {
    background: #0d6efd;
} */

.icono-carrito-container img {
    width: 1.2rem;
}

.icono-carrito-container:hover {
    background: #00000017;
    cursor: pointer;
}

.container-btn-login {
    margin: 0 0.5rem;
}

#cart-icono {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


/* ============================LAYOUT============================== */

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

/* ============================FOOTER============================== */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inside-footer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #dee2e6
}

.link-page-item {
    text-decoration: none;
    margin: 0 0.8rem;
    color: #6c757d;
}

.link-page-item:hover {
    text-decoration: underline;
}

.links-pages {
    display: flex;
    padding-left: 2rem;
}

.links-redes-container {
    display: flex;
    padding-right: 2rem;
}

.item-redes-container {
    width: 40px;
    height: 40px;
    margin: 0 1rem;
    border-radius: 5rem;
    overflow: hidden;
    border: 2px solid #6f7e847a;
}

.item-redes {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-redes:hover {
    background: #f0f0f0;
}

.item-redes img {
    width: 20px;
} 

.reserved-container {
    padding: 1rem 0;
    color: #6c757d;
}

.cart-view {
    display: none;
}

/* ========================================================== */

.modal {
    margin-top: 10rem;
}

.modal-content {
    border-radius: 3px !important;
    max-width: 400px;
}

.btn-submit-login {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.modal-header {
    border-bottom: none !important;
}

.title-login {
    width: 100%;
    text-align: center;
}

#btn-ingresar {
    width: 100%;
    background: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    padding: 0 0 4px 0;
}

.pass-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pass-register-container a {
    width: max-content;
    margin: 8px 0;
    text-align: center;
    color: #1877f2;
    text-decoration: none;
}

.pass-register-container a:hover {
    text-decoration: underline;
}

.register-span-container {
    width: 100%;
}

.form-check {
    margin-top: 8px !important;
}

#exampleModalToggle2 {
    margin: 0 !important;
}

#modaltwo-inside {
    display: flex;
    align-items: flex-start;
    margin-top: 5rem;
}

.modal-dialog {
    display: flex !important;
    justify-content: center !important;
}

/* ============================HOME============================== */

.container-global-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.carousel-container-home {
    /* background-image: url('../images/background-home.jpg');
    background-size: cover; */
    /* background-attachment: fixed; */
    width: 100%;
    height: auto;
}

.cards-info-cursos-home {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0;
    flex-wrap: wrap;
}

/* .carousel-caption {
    top: 45% !important;
    bottom: 35% !important;
}

.carousel-caption h5 {
    font-size: 3rem;
}

.carousel-item::before {
    content: "";
    background-color: #18181b85;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
} */



.container-img-home {
    width: 100%;
    height: 93vh;
    background-image: url('../images/background-carousel-one.jpg');
    background-size: cover;
    /* background: #ecf5fe; */
    display: flex;
    justify-content: center;
}

.container-img-home::before {
    content: "";
    background-color: #ecf5feec;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 101.5vh;
}

.container-infopage-home {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infopage {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 10;
    padding: 1rem;
    /* background-color: #ffffff05;
    backdrop-filter: blur(5px); */
    border-radius: 12px;
    color: #344854;
}

.best-cursescontainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.infopage h1 {
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: 600;
}

.infopage h2 {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.ico-cursosimg {
    width: 25%;
    background: #17cee6be;
    padding: 0.5rem;
    border-radius: 50%;
}

.ico-cursosimg img {
    width: 100%;
}

.infopage p {
    font-size: 1.1rem;
    font-weight: 600;
}

.container-fevsbe {
    width: 40%;
    z-index: 10;
    overflow: hidden;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.container-fevsbe img {
    width: 100%;
}

.card {
    align-items: center;
    background: #ecf5fe !important;
    /* box-shadow: 0 1px 5px 0 rgba(0,0,0,.2); */
    border: none !important;
    margin: 1rem 0;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    cursor: context-menu;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover #ico-infocursos {
    animation: rotate 2s backwards;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-45deg);
    }
    
    75% {
        transform: rotate(45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.card img {
    margin-top: 2rem;
}

.card-body {
    margin-top: 1rem;
    padding: 1rem 2rem !important;
}

.card-body h2 {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.card-text {
    text-align: center !important;
    font-size: 1.1rem;
    color: #344854;
}

/* ===========================NOSOTROS=============================== */

.container-global-about {
    /* height: 70vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/background-home.jpg');
    background-size: cover;
    padding: 3rem 0;
}

#accordionFlushExampleabout {
    width: 50% !important;
    margin: 8rem 0;
}

/* ============================COURSES============================== */

.containerglobal-courses {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.cards-courses-container {
    width: 60%;
    /* display: flex; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.card-course {
    /* width: 28%; */
    margin: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.card-course:hover {
    transform: scale(1.04);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.452);
}

.img-course-container {
    width: 100%;
    /* min-height: 20rem; */
}

.img-course-container img {
    width: 100%;
    border-radius: 8px;
}

.cardbody-course {
    width: 100%;
    padding: 1rem 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #636363;
    font-family: OpenSans,Arial,sans-serif;
}

.cardbody-course h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

.cardbody-course h3 {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardbody-course p {
    font-size: 0.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas permitidas */
    -webkit-box-orient: vertical;
}

.quali-views-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.quali-views-container span {
    font-weight: bold;
}

.quali-views-container h6 {
    font-size: 0.8rem;
    margin: 0%;
    margin-left: 5px;
}
  


.filtros-container {
    width: 15%;
    /* background-color: #f5f7f8; */
    padding: 1rem 0;
    position: sticky;
    top: 9.1rem;
}

.accordion-button {
    font-size: 1.2rem !important;
    font-weight: bold;
}

.container-options-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 1rem;
}

.filtros-container h3 {
    font-size: 1.2rem;
    margin: 0%;
    margin-top: 2rem;
    font-weight: bold;
}

.form-check-input[type=radio] {
    border-radius: 0% !important;
}

.accordion {
    margin: 0 !important;
    width: 100% !important;
}

/* ========================================================== */

@media screen and (max-width: 1400px) {
    .filtros-container {
        width: 20%;
        position: static;
    }

    .cards-courses-container {
        width: 70%;
    }
}

/* ========================================================== */

@media screen and (max-width: 991px) {
    .container-inside-footer {
        width: 100%;
    }

    .footer-item-container {
        flex-direction: column;
    }

    .links-pages {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links-redes-container {
        padding: 0;
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }

    .item-footer {
        width: max-content;
        margin: 0.3rem 0;
    }

    .container-fluid {
        padding: 1rem 0.8rem !important;
    }

    .container-list {
        padding-top: 1rem;
    }

    .container-btn-login {
        text-align: center;
    }

    .icono-carrito-container {
        margin: 0;
        width: max-content;
        justify-content: flex-start;
        padding: 0 0.5rem;
        margin-top: 1rem;
    }

    #form-search {
        width: 100%;
        margin-top: 1rem;
    }

    .cart-view {
        display: flex;
        margin-right: 8px;
    }

    #list-nav {
        margin: 0 !important;
    }

    #navbarScroll {
        justify-content: flex-start;
    }

    .nav-item {
        width: max-content;
    }

    .reserved-container {
        font-size: 0.8rem;
    }

    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption p {
        display: none;
    }

    .carousel {
        height: 50vh !important;
    }

    .carousel-inner {
        height: 50vh !important;
    }

    .carousel-item {
        height: 100% !important;
    }

    .carousel-item img {
        height: 100% !important;
        width: auto !important;
    }

    .container-img-home {
        background-image: url('../images/background-carousel-one-smartphone.jpg');
    }

    .container-infopage-home {
        flex-direction: column;
    }

    .infopage {
        width: 100%;
    }

    .infopage h1 {
        font-size: 1.2rem;
    }

    .infopage h2 {
        font-size: 1.6rem;
    }

    .infopage p {
        font-size: 1.1rem;
    }

    .ico-cursosimg {
        width: 30%;
    }

    .container-fevsbe {
        width: 80%;
        margin-bottom: 8rem;
    }


    .containerglobal-courses {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .cards-courses-container {
        width: 100%;
        grid-template-columns: 100%;
    }

    .filtros-container {
        width: 90%;
    }

    /* .card-course {
        width: 90%;
    } */
}