{% extends "layout.html" %}

{% block content %}
    <div class="container-global-home">
        <!-- <div class="carousel-container-home">
            <div style="height: 100%;" id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div style="height: 100%;" class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/images/background-carousel-one.jpg" class="d-block w-100" alt="carousel-backgroung-courses">
                        <div class="carousel-caption d-md-block">
                            <h5>Una amplia selección de cursos</h5>
                            <p>Elige entre más de 210.000 cursos de vídeo en línea con nuevo contenido cada mes.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/background-carousel-two.jpg" class="d-block w-100" alt="carousel-backgroung-courses">
                        <div class="carousel-caption d-md-block">
                            <h5>Amplía tus oportunidades profesionales</h5>
                            <p>Tanto si trabajas en el segmento del aprendizaje automático como si deseas desarrollar tu carrera en desarrollo web.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/background-carousel-three.jpg" class="d-block w-100" alt="carousel-backgroung-courses">
                        <div class="carousel-caption d-md-block">
                            <h5>Mejora tus habilidades de desarrollo de software</h5>
                            <p>Las principales empresas utilizan los mismos cursos para ayudar a los empleados a mantener al día sus habilidades.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> -->

        <div class="container-img-home">
            <div class="container-infopage-home">
                <div class="infopage">
                    <div class="best-cursescontainer">
                        <div class="ico-cursosimg">
                            <img src="../static/images/ico-cursoshome.png" alt="cursos icono">
                        </div>
                        <h1> Los mejores cursos IT </h1>
                    </div>
                    <h2> Conquista tu destino </h2>
                    <p> 
                        Descubre una amplia gama de cursos en línea que te permitirán adquirir nuevas habilidades y alcanzar 
                        tus metas profesionales en el ámbito de la tecnología. Domina tu futuro y toma el 
                        control de tu carrera con nuestros cursos.
                    </p>
                </div>
                <div class="container-fevsbe">
                    <img src="../static/images/Frontend-vs-Backend.png" alt="FrontEnd vs BackEnd">
                </div>
            </div>
        </div>

        <div class="cards-info-cursos-home">
            <div  class="card" style="width: 22rem;">
                <img id="ico-infocursos" style="width: 20%;" src="../static/images/seminario.png" class="card-img-top" alt="info page">
                <div class="card-body">
                    <h2>Cursos</h2>
                    <p class="card-text">
                        Nuestros cursos fueron diseñados por profesores altamente capacitados, expertos en su campo, con una amplia experiencia y 
                        conocimientos actualizados para brindar una educación de calidad.
                    </p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <img id="ico-infocursos" style="width: 20%;" src="../static/images/home-automation.png" class="card-img-top" alt="info page">
                <div class="card-body">
                    <h2>En casa</h2>
                    <p class="card-text">
                        Nuestros cursos ofrecen la flexibilidad de aprender desde la comodidad de tu hogar. Ya no tienes que preocuparte 
                        por los desplazamientos o los horarios rígidos de las clases presenciales.
                    </p>
                </div>
            </div>
            <!-- <div class="card" style="width: 18rem;">
                <img style="width: 30%;" src="../static/images/web.png" class="card-img-top" alt="info page">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div> -->
            <div class="card" style="width: 22rem;">
                <img id="ico-infocursos" style="width: 20%;" src="../static/images/birrete.png" class="card-img-top" alt="info page">
                <div class="card-body">
                    <h2>Graduación</h2>
                    <p class="card-text">
                        A medida que avances en nuestros cursos, obtendrás una comprensión profunda de los conceptos y herramientas 
                        más relevantes en el ámbito de IT.
                        Gradúate con sólidos conocimientos en tecnologías IT a través de nuestros cursos.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock%}