{% extends "layout.html" %}


{% block content %}
    <script>
        const user = localStorage.getItem('user');

        if (!user) {
            window.location.href = '/';
        }
    </script>

    <div class="container-global-profile">
        <div class="container-profile">
            <div class="tittle-option-container">
                <span>
                    <svg style="margin: 0 1rem; position: absolute; left: 0;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    Mis datos
                </span>
                <span 
                    data-bs-toggle="modal" data-bs-target="#modalUpdateDataUser"
                >
                    <svg style="margin: 0 1rem; position: absolute; left: 0;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    Actualizar datos
                </span>
            </div>
            <div class="datos-user-container">
                <div class="item-date-user">
                    <span>Nombre/s</span>
                    <span id="set-datauser-name"> </span>
                </div>
                <div class="item-date-user">
                    <span>Apellido/s</span>
                    <span id="set-datauser-surname"> </span>
                </div>
                <div class="item-date-user">
                    <span>Email</span>
                    <span id="set-datauser-email"> </span>
                </div>
                <div class="item-date-user">
                    <span>Fecha de nacimiento</span>
                    <span id="set-datauser-dateofbirth">1997-08-04</span>
                </div>
                <div class="item-date-user">
                    <div class="container-password-eye">
                        <span>Contraseña</span>
                        <button id="unshown-password" class="btn-eyes-password">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                            </svg>
                        </button>
                        <button id="show-password" class="btn-eyes-password">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                        </button>
                    </div>
                    <span id="set-datauser-password" class="password-user"> </span>
                </div>
                <div class="item-date-user">
                    <span>Genero</span>
                    <span id="set-datauser-gender"> </span>
                </div>
                <div class="item-date-user">
                    <span>Fecha de creación</span>
                    <span id="set-datauser-dateofcreation"> </span>
                </div>
                <div id="validar-advertencia-datauser" style="display: none;">
                    <div id="validate-advertencia-datauser" class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        <div>
                            Por favor complete los datos de su perfil
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalUpdateDataUser" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
          
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar mis datos</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form id="form-data-update-user">
                        
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name-user-update" placeholder="name">
                            <label for="name-user-update">Nombre/s</label>
                        </div>

                        <div id="name-validation-update" style="margin: 0 0 1rem 0; width: 100%; display: none;">
                            <div style="padding: 0 8px; margin: 0;" class="alert alert-danger d-flex align-items-center" role="alert">
                                <div style="font-size: 14px;">
                                    Ingrese su nombre
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="surname-user-update" placeholder="surname">
                            <label for="surname-user-update">Apellido/s</label>
                        </div>

                        <div id="surname-validation-update" style="margin: 0 0 1rem 0; width: 100%; display: none;">
                            <div style="padding: 0 8px; margin: 0;" class="alert alert-danger d-flex align-items-center" role="alert">
                                <div style="font-size: 14px;">
                                    Ingrese su apellido
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email-user-update" placeholder="name@example.com" disabled>
                            <label for="email-user-update">Email</label>
                        </div>

                        <div class="form-floating">
                            <input type="text" class="form-control" id="password-user-update" placeholder="Password" maxlength="8">
                            <label for="password-user-update">Contraseña</label>
                        </div>

                        <div id="password-validation-update" style="margin: 1rem 0 1rem 0; width: 100%; display: none;">
                            <div style="padding: 0 8px; margin: 0;" class="alert alert-danger d-flex align-items-center" role="alert">
                                <div style="font-size: 14px;">
                                  Ingrese una contraseña válida
                                </div>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: space-between; margin-top: 1rem;">
                            <div class="col-md-6">
                                <label for="dateofbirth-user-update" class="form-label">Fecha de nacimiento</label>
                                <input type="date" class="form-control" id="dateofbirth-user-update" required>
                            </div>
    
                            <div class="col-md-5">
                                <label for="gender-user-update" class="form-label">Genero</label>
                                <select class="form-select" id="gender-user-update" required>
                                        <option selected disabled value="">Elegir...</option>
                                        <option value="masculino">Masculino</option>
                                        <option value="femenino">Femenino</option>
                                        <option value="otro">Otro</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
          
                  </div>
                </div>
            </div>

        </div>
    </div>

    <script src="../static/js/getDataUser.js"></script>
    <script src="../static/js/updateDataUser.js"></script>
{% endblock%}